<table>
	<thread>
		<tr>
			<th>description<th>
			<th>value<th>
		</tr>
	</thread>
	<tbody>
                <tr>
                        <th>ID<th>
                        <th><%= @host[:id] %><th>
                </tr>
                <tr>
                        <th>HOSTNAME<th>
                        <th><%= @host[:hostname] %><th>
                </tr>
                <tr>
                        <th>IPADDRESS<th>
                        <th><%= @host[:ipaddress] %><th>
                </tr>
	</tbody>
</table>
